*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Soccer Ball Styling */
.soccer {
    background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    position: relative;
    -webkit-animation:roll 4.5s infinite;
    -moz-animation:roll 4.5s infinite;
    animation:roll 4.5s infinite;
    
  }
  @-moz-keyframes roll {  
    0% {left:0px; -webkit-transform: rotate(-360deg);}
    50% {left:1000px; -webkit-transform: rotate(360deg);}
    100% {left:0px; -webkit-transform: rotate(-360deg);}
  }
  @-webkit-keyframes roll { 
    0% {left:0px; -webkit-transform: rotate(-360deg);}
    50% {left:1000px; -webkit-transform: rotate(360deg);}
    100% {left:0px; -webkit-transform: rotate(-360deg);}
  }
  @keyframes roll { 
    0% {left:0px; -webkit-transform: rotate(-360deg);}
    50% {left:1000px; -webkit-transform: rotate(360deg);}
    100% {left:0px; -webkit-transform: rotate(-360deg);}
  }

  /* Stop Ball Button styling */
  .hideBall{
    margin: 0;
    position: absolute;
    top: 148px;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#fff;
    border:none;
    padding:2em 4em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #d98e20,
      2px 2px 0 0 #d98e20,
      3px 3px 0 0 #d98e20,
      4px 4px 0 0 #d98e20,
      5px 5px 0 0 #d98e20,
      6px 6px 0 0 #d98e20,
      7px 7px 0 0 #d98e20,
      8px 8px 0 0 #d98e20,
      9px 9px 0 0 #d98e20,
      10px 10px 0 0 #d98e20,
      11px 11px 0 0 #d98e20,
      12px 12px 0 0 #d98e20;
  }
  .hideBall:hover{
    color:#d98e20;
  }
  .hideBall:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #d98e20,
      2px 2px 0 0 #d98e20,
      3px 3px 0 0 #d98e20,
      4px 4px 0 0 #d98e20,
      5px 5px 0 0 #d98e20;
  }

  /* Speed button styling */
  .speedBall{
    margin: 0;
    position: absolute;
    top: 148px;
    left: 77%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#fff;
    border:none;
    padding:2em 4em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #d98e20,
      2px 2px 0 0 #d98e20,
      3px 3px 0 0 #d98e20,
      4px 4px 0 0 #d98e20,
      5px 5px 0 0 #d98e20,
      6px 6px 0 0 #d98e20,
      7px 7px 0 0 #d98e20,
      8px 8px 0 0 #d98e20,
      9px 9px 0 0 #d98e20,
      10px 10px 0 0 #d98e20,
      11px 11px 0 0 #d98e20,
      12px 12px 0 0 #d98e20;
  }
  .speedBall:hover{
    color:#d98e20;
  }
  .speedBall:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #d98e20,
      2px 2px 0 0 #d98e20,
      3px 3px 0 0 #d98e20,
      4px 4px 0 0 #d98e20,
      5px 5px 0 0 #d98e20;
  }


  /* firstSection styling */
  .firstSection{
    background-color: #4388FF;
    padding: 100px 0;
    height: 350px;
    width: 100%;
  }
